
@{
    Layout = null;
}


<div class="main-container">

    <div class="container">

        <div class="row">

            @Html.Partial("_Profile_Sidebar")

            <div class="col-sm-9 page-content">
                <div class="inner-box">
                    @Html.Partial("_Hearder_Coach")
                </div>
                    <div class="inner-box">

                        <h2 class="title-2"><i class="fa fa-futbol-o"></i> Antecedentes deportivos </h2>

                        <div class="table-responsive">

                            <div class="table-action">
                                <flash-message></flash-message>
                                <div class="table-search pull-right">
                                    <div class="form-group">
                                        <a href="#!Coach/SportsHistory" class="btn btn-default page-action">Agregar</a>
                                    </div>
                                </div>
                            </div>

                            <table id="addManageTable" class="table table-striped table-bordered add-manage-table table demo footable-loaded footable" data-filter="#filter" data-filter-text-only="true">

                                <thead>
                                    <tr>

                                        <th> Club</th>
                                        <th data-sort-ignore="true"> Información</th>
                                        <th> Opciones</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    <tr ng-repeat="a in antecedentes">

                                        <td style="width:14%" class="add-img-td">

                                            <div class="add-image col-sm-12">
                                                <a href="">
                                                    <i class="flagclubicon flag-{{a.ClubLogo}}" alt="{{a.ClubDescripcion}}" style="width: 60px; height: 60px"></i>
                                                </a>
                                            </div>

                                        </td>

                                        <td style="width:58%" class="ads-details-td">

                                            <div class="add-details jobs-item">

                                                <h4 class="job-title"><a ng-href="#!Coach/SportsHistory/{{a.Id}}"> {{a.ClubDescripcion}} </a></h4>

                                                <span class="info-row">

                                                    <span class="date"><i class="icon-calendar-1"></i>Desde: {{a.FechaInicioText}} </span>

                                                    <span class="date"><i class="icon-calendar-1"></i>Hasta: {{a.FechaFinText ? a.FechaFinText : 'Actual'}} </span>

                                                </span>
                                                <div class="jobs-desc">
                                                    {{a.InformacionAdicional}}
                                                </div>
                                            </div>

                                        </td>

                                        <td style="width:10%" class="action-td">

                                            <div>
                                                <p>
                                                    <a class="btn btn-info btn-xs" ng-href="#!Coach/SportsHistory/{{a.Id}}">
                                                        <i class="fa fa-pencil"></i> Editar
                                                    </a>
                                                </p>
                                                <p>
                                                    <button class="btn btn-danger btn-xs" ng-click="DeleteAntecedente(a.Id)" promise-btn>
                                                        <i class="fa fa-trash"></i> Borrar
                                                    </button>
                                                </p>
                                            </div>

                                        </td>

                                    </tr>

                                </tbody>
                            </table>

                        </div>

                    </div>

                </div>

        </div>

    </div>

</div>