<!-- star footer  -->

<div class="footer-section footer_fix">
    <div class="container-fluid footer-top-bg">
        <div class="row">
            <div class="col-md-5 col-md-offset-7 bg-parent">
                <Div class="right-bg-g"></Div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6">
                <div class="alignleft copyright">
                    <p>&copy; Busqueda Deportiva - Todos los derechos reservados 2017</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="footer-social">
                    <p>Siguenos en las redes:</p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-vk"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                        <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                    </ul>
                </div>
            </div> 
        </div>
    </div>
</div>

<!-- end of /. footer -->