
<div class="footer" id="footer">
    <div class="container">
        <ul class="pull-left navbar-link footer-nav">
            <li>
                <a href="index.html"> Inicio </a> <a href=""> Sobre nosotros </a> <a href="">
                    Terminos y
                    Condiciones
                </a> <a href="#"> Privacy Policy </a> <a href="mailto:info@allwiners.com"> Contactenos </a> <a href=""> FAQ </a>
        </ul>
        <ul class="pull-right navbar-link footer-nav">
            <li> &copy; 2017 AllWiners</li>
        </ul>
    </div>
</div>