<div class="header">
    <nav class="navbar   navbar-site navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <a href="#!" class="navbar-brand logo logo-title">

                    <img alt="img" class="img-responsive" src="~/Content/img/Logo250.png"> 

                </a>
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#!/Account/Login">Iniciar sesión</a></li>
                    <li><a href="#!/Account/Register">Registrase</a></li>
                    <li class="postadd"><a class="btn btn-block   btn-border btn-post btn-danger" href="job-post.html">Buscar</a></li>
                </ul>

            </div>

        </div>

    </nav>

</div>