<!-- START HEADER TOP SECTION -->

<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="header-social">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-vk"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                        <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                    </ul>
                </div>
                <div class="top-left-menu">
                    <ul>
                        <li><a href="#">¡Contactanos!</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="header-right-menu">
                    <ul>
                        <li> <a href="#"><i class="fa fa-lock"></i> Registro </a>o<a href="#!Account/Login">   Iniciar sesión</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END OF /. HEADER TOP SECTION -->

<div class="header-section">

    <nav class="navbar navbar-default cart">
        <div class="container">

     
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed top-m-btn" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#!"><img src="~/Content/img/logo.png" class="logo" alt=""></a>
            </div>
            
          
            <div class="collapse navbar-collapse top-nav" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="index.html">Home 1</a></li>
                            <li><a href="index1.html">Home 2</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Features</a>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="404.html">404</a></li>
                            <li><a href="club-histry.html">Club History</a></li>
                            <li><a href="cooming-soon.html">Coming Soon</a></li>
                            <li><a href="point-table.html">Point Table</a></li>
                            <li><a href="profiles.html">Profile</a></li>
                            <li><a href="result.html">Result</a></li>
                            <li><a href="turnament-history.html">Turnament History </a></li>
                            <li><a href="wcup-fixture.html">Wcup fixture</a></li>
                        </ul>
                    </li>
                    <li><a href="#">About</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="shop.html">Shop</a></li>
                            <li><a href="shop-single.html">Shop Single</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="blog-single.html">Blog Single</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

</div>
<!-- End Navigation -->
