
<div class="col-sm-3  photobox">
    <div class="add-image">
        <a href="#!/Profile/player/{{item.Id}}">
            <img class="thumbnail no-margin" src="~/Content/img/jugadores-fotos/53251ss.jpg" alt="img">
        </a>
    </div>
</div>
<div class="col-sm-6 add-desc-box">
    <div class="add-details">
        <h5 class="add-title">
            <a href="#!/Profile/player/{{item.Id}}">
                {{item.Nombre}} {{item.Apellido}}
            </a>
        </h5>
        <span class="info-row"> <span class="item-location"> {{item.PuestoDescripcion}}, Pie: {{item.Pie}} </span> </span>

        <span class="info-row"> <span class="item-location ng-binding"><i class="fa fa-map-marker"></i> {{item.Pais}} </span> <span class="date"><i class="icon-clock"> </i> {{item.Edad}} años / {{item.Altura}} metros </span> <span class="salary ng-binding"> <i class="fa fa-male"> </i> Perfil: {{item.Perfil}}</span></span>

        <div class="prop-info-box">
            <div class="prop-info">
                <div class="clearfix prop-info-block">
                    <span class="info-row" style="margin-bottom:5px;">Nacionalidad</span>
                    <i class="flagicon flag-{{item.NacionalidadIso}} icon-th-thumb" title={{item.Nacionalidad}}></i>
                </div>
                <div class="clearfix prop-info-block middle">
                    <span class="info-row">Club actual</span>
                    <i class="flagclubicon flag-{{item.ClubCode}} icon-th-thumb" title={{item.ClubActual}}></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-3 text-right  price-box">
    @*<a class="btn btn-border-thin  btn-save" title="Agregar a favoritos">
        <i class="icon icon-heart"></i>
    </a>
    <a class="btn btn-border-thin  btn-share ">
        <i class="icon icon-export" title="Compartir perfil"></i>
    </a>*@
    <h4 class="" style="margin-top:10px;"> <strong> Fichaje: {{item.Fichaje}}</strong></h4>
    <div style="clear: both"></div>
    <a class="btn btn-success btn-sm bold" href="#!/Profile/player/{{item.Id}}">
        Ver perfil
    </a>
</div>