<div class="col-sm-3 page-sidebar">
    <aside>
        <div class="inner-box">
            <div class="user-panel-sidebar">
                <div class="collapse-box">
                    <h5 class="collapse-title no-border"> Estoy en:<a href="#MyClassified" data-toggle="collapse" class="pull-right"></a></h5>
                    <div class="panel-collapse collapse in" id="MyClassified">
                        <ul class="acc-list">
                            <li>
                                <a class="active" >
                                    <i class="{{moduloicono}}"></i>
                                    {{modulo}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="collapse-box">
                    <h5 class="collapse-title"> Menu <a href="#MyAds" data-toggle="collapse" class="pull-right"></a></h5>
                    <div class="panel-collapse collapse in" id="MyAds">
                        <ul class="acc-list">
                            <li ng-repeat="item in user.menu | filter: {'Descripcion': '!' + modulo} ">
                                <a href="{{item.Url}}">
                                    <i class="{{item.Icono}}"></i> {{item.Descripcion}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="collapse-box">
                    <h5 class="collapse-title"> Cancelación de cuenta <a href="#TerminateAccount" data-toggle="collapse" class="pull-right"></a></h5>
                    <div class="panel-collapse collapse in" id="TerminateAccount">
                        <ul class="acc-list">
                            <li>
                                <a href="">
                                    <i class="icon-cancel-circled "></i> Quiero cerrar mi cuenta
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </aside>
</div>
