<div class="col-sm-3 page-sidebar">
    <aside>
        <div class="inner-box">
            <div class="user-panel-sidebar">
                <div class="collapse-box">
                    <h5 class="collapse-title no-border"> Estoy en:<a href="#MyClassified" data-toggle="collapse" class="pull-right"></a></h5>
                    <div class="panel-collapse collapse in" id="MyClassified">
                        <ul class="acc-list">
                            <li>
                                <a class="active"><i class="fa fa-futbol-o"></i> Antecedentes </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="collapse-box">
                    <h5 class="collapse-title"> Menu <a href="#MyAds" data-toggle="collapse" class="pull-right"></a></h5>
                    <div class="panel-collapse collapse in" id="MyAds">
                        <ul class="acc-list">
                            <li><a href="#!Profile/PrivateProfile"><i class="icon-home"></i> Mi perfil </a></li>
                            <li>
                                <a href="#!Evaluation/SelfAppraisal">
                                    <i class="fa fa-star"></i> AutoEvaluación
                                </a>
                            </li>
                            <li>
                                <a href="#!/Account/PasswordChange">
                                    <i class="fa fa-lock"></i> Cambio de Password
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="icon-folder-close"></i>
                                    Certificaciones<span class="badge">42</span>
                                </a>
                            </li>
                            <li><a href=""><i class="icon-hourglass"></i> Mis pendientes <span class="badge">42</span></a></li>
                        </ul>
                    </div>
                </div>

                <div class="collapse-box">
                    <h5 class="collapse-title"> Cancelación de cuenta <a href="#TerminateAccount" data-toggle="collapse" class="pull-right"></a></h5>
                    <div class="panel-collapse collapse in" id="TerminateAccount">
                        <ul class="acc-list">
                            <li>
                                <a href="">
                                    <i class="icon-cancel-circled "></i> Quiero cerrar mi cuenta
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </aside>
</div>
