@{
    Layout = null;
}

<div class="main-container">

    <div class="container">

        <ol class="breadcrumb pull-left">
            <li><a href="#"><i class="icon-home fa"></i></a></li>
            <li><a href="#!Search"> Jugadores </a></li>
            <li class="active">{{datosPerfil.Nombre}} {{datosPerfil.Apellido}}</li>
        </ol>

        <div class="pull-right backtolist">
            <a href="#!Search">
                <i class="fa fa-angle-double-left"></i> Volver a la búsqueda
            </a>
        </div>

    </div>

    <div class="container">

        <div class="row" cg-busy="{promise:myPromise,message:'Cargando perfil...'}">

            <div class="col-sm-9 page-content col-thin-right">


                <div class="inner inner-box ads-details-wrapper">

                    <div>
                        <h2> {{datosPerfil.Nombre}} {{datosPerfil.Apellido}} - {{datosPerfil.PuestoDescripcion}}</h2>

                        <span class="info-row"> <span class="date"><i class="icon-clock"> </i> Miembro desde: Febrero 2016 </span> - <span class="item-Ubicación"><i class="fa fa-map-marker"></i> {{datosPerfil.Pais}}</span> </span>
                    </div>
                <aside class="panel panel-body panel-details job-summery">
                    <div class="col-md-9 col-sm-9">
                        <ul>
                            <li>
                                <p class="no-margin">
                                    <strong>Nacionalidad:</strong> {{datosPerfil.Nacionalidad}}
                                </p>
                            </li>
                            <li>
                                <p class="no-margin ">
                                    <strong>Fecha de nacimiento:</strong> {{datosPerfil.FechaNacimiento}}
                                </p>
                            </li>
                            <li>
                                <p class="no-margin ">
                                    <strong>Altura:</strong> {{datosPerfil.Altura}} Mts
                                </p>
                            </li>
                            <li>
                                <p class="no-margin">
                                    <strong>Peso:</strong> {{datosPerfil.Peso}} Kg
                                </p>
                            </li>
                        </ul>
                        <p>{{datosPerfil.Informacion}}</p>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <span><i class="flagpuestoicon flag-{{datosPerfil.PuestoCodigo}}"> </i> </span>
                    </div>
                </aside>


                    <div class="Ads-Details ">

                        <div class="row">

                            <div class="ads-details-info jobs-details-info col-md-12">



                                <h4 class="text-uppercase ">Antecedentes deportivos</h4>

                                <div class="adds-wrapper jobs-list">

                                    <div class="item-list job-item" ng-repeat="r in datosPerfil.Antecedentes">

                                        <div class="col-sm-2  col-xs-2 no-padding photobox">
                                            <div class="add-image">
                                                <a href="#">
                                                    <i class="flagclubicon flag-{{r.ClubLogo}}" alt="{{r.ClubDescripcion}}" style="width: 60px; height: 60px"></i>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-sm-10  col-xs-10  add-desc-box">

                                            <div class="add-details jobs-item">

                                                <h4 class="job-title"><a href="job-details.html"> {{r.ClubDescripcion}} </a></h4>

                                                <span class="info-row">

                                                    <span class="date"><i class="icon-calendar-1"></i>Desde: {{r.FechaInicioText}} </span>

                                                    <span class="date"><i class="icon-calendar-1"></i>Hasta: {{r.FechaFinText ? r.FechaFinText : 'Actual'}} </span>

                                                </span>

                                                <div class="job-actions">

                                                    <ul class="" style="margin-left: 0px">

                                                        <li style="margin-bottom: 5px;">
                                                            <a href="" class="save-job">
                                                                <span class="fa fa-handshake-o"></span>
                                                                Asistencias: {{r.Asistencias ? r.Asistencias : 0 }}
                                                            </a>
                                                        </li>

                                                        <li style="margin-bottom: 5px;">
                                                            <a class="saved-job" href="">
                                                                <span class="fa fa-futbol-o"></span>
                                                                Goles: {{r.Goles ? r.Goles : 0}}
                                                            </a>
                                                        </li>

                                                        <li style="margin-bottom: 5px;">
                                                            <a class="email-job" href="">
                                                                <i class="fa fa-flag"></i>
                                                                Partidos: {{r.Partidos ? r.Partidos : 0}}
                                                            </a>
                                                        </li>

                                                    </ul>

                                                </div>

                                                <div class="jobs-desc">
                                                    {{r.InformacionAdicional}}
                                                </div>



                                            </div>

                                        </div>


                                    </div>

                                </div>

                                <h4 class="text-uppercase ">Autoevaluación deportiva</h4>

                                <div class="adds-wrapper jobs-list">

                                    <div class="item-list job-item" ng-repeat="r in datosPerfil.AutoEvaluacion.Cabeceras">

                                        <div class="col-md-12 col-sm-12 col-xs-12  add-desc-box">

                                            @*<div class="add-details jobs-item">*@

                                            <h3 class="job-title">
                                                <a> {{r.Descripcion}} </a>
                                            </h3>

                                            <div class="col-md-9 col-sm-9 col-xs-9">


                                                <canvas id="radar{{r.Id}}" class="chart-base" chart-type="r.Chart" width="370"
                                                        height="250" chart-options="options"
                                                        chart-data="r.Values"
                                                        chart-labels="r.Labels"></canvas>

                                               

                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-3">

                                                <h1 class="titleevaluacion">
                                                    <span class="text-uppercase">Promedio</span>
                                                    {{r.Promedio}}
                                                </h1>
                                            </div>
                                            @*</div>*@

                                        </div>


                                    </div>

                                </div>


                                <p class="text-muted">Búsqueda deportiva no certifica directamente la información presentada anteriormente.</p>

                            </div>


                        </div>

                    </div>
                </div>

            </div>

            <div class="col-sm-3  page-sidebar-right">

                <aside>

                    <div class="panel sidebar-panel panel-contact-seller">

                        <div class="panel-heading">Información del jugador</div>

                        <div class="panel-content user-info">

                            <div class="panel-body text-center">

                                <div class="seller-info">
                                    <div class="company-logo-thumb" style="margin-bottom:10px">
                                        <a><img alt="img" class="img-circle" src="~/Content/img/jugadores-fotos/angel_di_maria.jpg"> </a>
                                    </div>
                                    <h3 class="no-margin" style="margin-top:5px"> {{datosPerfil.Nombre}} {{datosPerfil.Apellido}}</h3>
                                    <p>Ubicación: <strong>{{datosPerfil.Pais}}</strong></p>
                                    <p> Perfil: <span class="label label-success"><strong>{{datosPerfil.Perfil}}</strong></span></p>
                                </div>

                            </div>

                        </div>

                        <div class="user-ads-action">
                            <a href="" data-toggle="modal" class="btn  btn-primary btn-block"> <i class="icon-mail-2"></i> Contactar este perfil </a>

                        </div>

                    </div>

                    @*<div class="panel sidebar-panel">

                            <div class="panel-heading"><i class="icon-lamp"></i> Información extra</div>

                            <div class="panel-content">

                                <div class="panel-body text-left">

                                    <ul class="list-check">
                                        <li> Lorem ipsum dolor sit amet</li>
                                        <li> Lorem ipsum dolor sit amet</li>
                                        <li> Lorem ipsum dolor sit amet</li>
                                        <li> Lorem ipsum dolor sit amet</li>
                                    </ul>

                                    <p><a class="pull-right" href="#!"> Conoce más <i class="fa fa-angle-double-right"></i> </a></p>

                                </div>

                            </div>

                        </div>*@

                </aside>

            </div>

        </div>

    </div>

</div>
