
@{
    Layout = null;
}

<div class="main-container">

    <div class="container">

        <div class="row">

            @Html.Partial("_Profile_Sidebar")

            <div class="col-sm-9 page-content">
                <div class="inner-box">
                    <div class="row">
                        <div class="col-md-5 col-xs-4 col-xxs-12">
                            <h3 class="no-padding text-center-480 useradmin">
                                <a>
                                    <img class="userImg" src="~/Content/img/user.jpg" alt="user"> {{datosPersonales.Nombre}} {{datosPersonales.Apellido}}
                                </a>
                            </h3>
                        </div>
                        <div class="col-md-7 col-xs-8 col-xxs-12">
                            <div class="header-data text-center-xs">

                                <div class="hdata">
                                    <div class="mcol-left">
                                        <i class="flagicon flag-{{datosPersonales.PaisIso}} icon-th-thumb "></i>
                                    </div>
                                    <div class="mcol-right">

                                        <p><a href="#">6236</a> <em>Visitas</em></p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="hdata">
                                    <div class="mcol-left">

                                        <i class="icon-th-thumb ln-shadow"></i>
                                    </div>
                                    <div class="mcol-right">

                                        <p><a href="#">12</a><em>Habilidades</em></p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="hdata">
                                    <div class="mcol-left">

                                        <i class="fa fa-user ln-shadow"></i>
                                    </div>
                                    <div class="mcol-right">

                                        <p><a href="#">18</a> <em>Favoritos </em>
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inner-box">

                    <div class="welcome-msg">
                        <h3 class="page-sub-header2 clearfix no-padding">Hola, {{datosPersonales.Nombre}} </h3>
                        <span class="page-sub-header-sub small">Tu ultimo acceso a la página: {{datosPersonales.UltimoLoginText}} </span>
                    </div>


                    <div class="panel-group collapse-accordion collapse in" id="accordion" aria-expanded="true">
                        <div class="panel panel-default card">
                            <div class="panel-heading content-in card-header">
                                <h5 class="panel-title">
                                    <a data-toggle="collapse" data-target="#collapseB1" aria-expanded="true" aria-controls="collapseOne">
                                        Mis detalles
                                    </a>
                                </h5>
                            </div>
                            <div class="panel-collapse collapse in" id="collapseB1" class="panel-collapse collapse">
                                <div class="panel-body">

                                    <form class="form-horizontal" role="form" ng-submit="UpdateProfile()" promise-btn>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Nombre</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" placeholder="¿Como te llamas?" ng-model="datosPersonales.Nombre">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Apellido</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" placeholder="¿Como te apellidas?" ng-model="datosPersonales.Apellido">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Email</label>
                                            <div class="col-sm-9">
                                                <input type="email" class="form-control" placeholder="¿Cual es tu correo electrónico?" disabled ng-model="Mail">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Fecha de nacimiento</label>
                                            <div class="col-sm-9 input-group date">
                                                <input datetimepicker type="text" class="form-control"
                                                       placeholder="¿Cuando naciste?" ng-model="datosPersonales.FechaNacimiento">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="content-subheading" style="font-size:14px;">
                                            <i class="icon-user fa"></i> <strong>
                                                Información de contacto
                                            </strong>
                                        </div>

                                        <div class="form-group">

                                            <label class="col-sm-3 control-label">Pais de residencia</label>
                                            <div class="col-sm-1">
                                                <i class="flagicon flag-{{datosPersonales.PaisIso}} icon-th-thumb" title="Pais"></i>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="" tabindex="0">
                                                    <select ng-model="datosPersonales.PaisIso" class="form-control"
                                                            name="category" id="search-category" tabindex="-1"
                                                            ng-options="item.CodigoIso as item.Nombre for item in paises">

                                                        <option value="" class="selecter-placeholder" selected="">Seleccione un pais</option>

                                                        <option value="Vehicles" style="background-color:#E9E9E9;font-weight:bold;" disabled="disabled">
                                                            - Paises disponibles -
                                                        </option>

                                                    </select>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Provincia</label>
                                            <div class="col-sm-9 input-group input-icon">
                                                <span class="input-group-addon bgtransparent"><i class="fa fa-flag-o s16"></i></span>
                                                <input class="form-control" placeholder="Buenos Aires" ng-model="datosPersonales.Provincia">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Ciudad</label>
                                            <div class="col-sm-9 input-group input-icon">
                                                <span class="input-group-addon bgtransparent"><i class="fa fa-flag-o s16"></i></span>
                                                <input class="form-control" placeholder="Capital" ng-model="datosPersonales.Ciudad">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Dirección</label>
                                            <div class="col-sm-9 input-group input-icon">
                                                <span class="input-group-addon bgtransparent"><i class="fa fa-home s16"></i></span>
                                                <input type="text" class="form-control" placeholder="Santa Fe 3000" ng-model="datosPersonales.Direccion">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Código postal</label>
                                            <div class="col-sm-9 input-group input-icon">
                                                <span class="input-group-addon bgtransparent"><i class="fa fa-barcode s16"></i></span>
                                                <input type="text" class="form-control" placeholder="1217" ng-model="datosPersonales.CodigoPostal">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="Phone" class="col-sm-3 control-label">Teléfono</label>
                                            <div class="col-sm-9 input-group input-icon">
                                                <span class="input-group-addon bgtransparent"><i class="fa fa-phone s16"></i></span>
                                                <input type="text" class="form-control" id="Phone" placeholder="880 124 9820" ng-model="datosPersonales.Telefono">
                                            </div>
                                        </div>

                                        <div class="form-group hide">
                                            <label class="col-sm-3 control-label">Facebook account map</label>
                                            <div class="col-sm-9">
                                                <div class="form-control"><a class="link" href="fb.html">Jhone.doe</a> <a class=""> <i class="fa fa-minus-circle"></i></a></div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9"></div>
                                        </div>



                                        <div class="content-subheading" style="font-size:14px;">
                                            <i class="fa-thumbs-up fa"></i> <strong>
                                                Cuentanos un poco mas sobre ti
                                            </strong>
                                        </div>

                                        <div class="form-group">

                                            <label class="col-sm-3 control-label">¿Cual es tu nacionalidad?</label>

                                            <div class="col-sm-1">
                                                <i class="flagicon flag-{{datosPersonales.NacionalidadIso}} icon-th-thumb" title="Pais"></i>
                                            </div>

                                            <div class="col-sm-8">

                                                <div class="" tabindex="0">

                                                    <select ng-model="datosPersonales.NacionalidadIso" class="form-control"
                                                            name="category" id="search-category" tabindex="-1"
                                                            ng-options="item.CodigoIso as item.Nombre for item in paises">

                                                        <option value="" class="selecter-placeholder" selected=""> Seleccione un pais</option>

                                                        <option value="Vehicles" style="background-color:#E9E9E9;font-weight:bold;" disabled="disabled">
                                                            - Paises disponibles -
                                                        </option>

                                                    </select>

                                                </div>

                                            </div>

                                        </div>

                                        <div class="form-group">

                                            <label for="Information" class="col-sm-3 control-label">Dinos algo sobre ti</label>

                                            <div class="col-sm-offset-3 col-sm-9 input-group input-icon">
                                                <span class="input-group-addon bgtransparent"><i class="fa fa-info-circle s16"></i></span>
                                                <textarea ng-model="datosPersonales.Informacion" class="form-control" rows="4"></textarea>

                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <button type="submit" class="btn btn-default page-action">Actualizar</button>
                                            </div>
                                        </div>

                                    </form>

                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="panel-group collapse-accordion collapse in" id="accordion1" aria-expanded="true">
                        <div class="panel panel-default card">
                            <div class="panel-heading content-in card-header">
                                <h5 class="panel-title">
                                    <a data-toggle="collapse" data-target="#collapseB2"> Información deportiva </a>
                                </h5>
                            </div>
                            <div class="panel-collapse collapse in" id="collapseB2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <form class="form-horizontal" role="form" name="passwordForm" ng-submit="jugadorUpdate()" novalidate="" promise-btn>

                                        <div class="form-group">

                                            <label class="col-sm-3 control-label">Pie</label>

                                            <div class="col-sm-9">

                                                <div class="" tabindex="0">

                                                    <select ng-model="jugador.Pie" class="form-control"
                                                            name="category" id="search-category" tabindex="-1"
                                                            ng-options="item.Id as item.Descripcion for item in pies">

                                                        <option value="" class="selecter-placeholder" selected="">Seleccione Pie</option>

                                                        <option value="Vehicles" style="background-color: #E9E9E9; font-weight: bold;" disabled="disabled">
                                                            - Tipo de Pie -
                                                        </option>

                                                    </select>

                                                </div>

                                            </div>

                                        </div>

                                        <div class="form-group">

                                            <label class="col-sm-3 control-label">Fichaje</label>

                                            <div class="col-sm-9">

                                                <div class="" tabindex="0">

                                                    <select ng-model="jugador.Fichaje" class="form-control"
                                                            name="category" id="search-category" tabindex="-1"
                                                            ng-options="item.Id as item.Descripcion for item in fichajes">

                                                        <option value="" class="selecter-placeholder" selected="">Seleccione Fichaje</option>

                                                        <option value="Vehicles" style="background-color: #E9E9E9; font-weight: bold;" disabled="disabled">
                                                            - Tipo de Fichaje -
                                                        </option>

                                                    </select>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">

                                            <label class="col-sm-3 control-label">Perfil</label>

                                            <div class="col-sm-9">

                                                <div class="" tabindex="0">

                                                    <select ng-model="jugador.Perfil" class="form-control"
                                                            name="category" id="search-category" tabindex="-1"
                                                            ng-options="item.Id as item.Descripcion for item in perfiles">

                                                        <option value="" class="selecter-placeholder" selected="">Seleccione Fichaje</option>

                                                        <option value="Vehicles" style="background-color: #E9E9E9; font-weight: bold;" disabled="disabled">
                                                            - Tipo de Fichaje -
                                                        </option>

                                                    </select>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">
                                                Puesto
                                            </label>
                                            <div class="col-sm-9">
                                                <div class="" tabindex="0">
                                                    <select ng-model="jugador.PuestoId" class="form-control"
                                                            name="category" id="search-category" tabindex="-1"
                                                            ng-options="item.Id as item.Descripcion group by item.Agrupador disable when item.enabled===false for item in puestos">
                                                        <option value="" class="selecter-placeholder" selected="">Seleccione un Puesto</option>

                                                        <option value="Puestos" style="background-color: #E9E9E9; font-weight: bold;" disabled="disabled">
                                                            - Puesto -
                                                        </option>
                                                    </select>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Altura</label>
                                            <div class="col-sm-9">
                                                <input type="number" class="form-control" placeholder="" ng-model="jugador.Altura">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Peso</label>
                                            <div class="col-sm-9">
                                                <input type="number" class="form-control" placeholder="" ng-model="jugador.Peso">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <button type="submit" class="btn btn-default page-action">Actualizar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
        </div>

    </div>

</div>

</div>