
@{
    Layout = null;
}

<style>
    .cropArea {
        background: #E4E4E4;
        overflow: hidden;
        width: 500px;
        height: 350px;
    }

    form .progress {
        line-height: 15px;
    }

    .progress {
        display: inline-block;
        width: 100px;
        border: 3px groove #CCC;
    }

        .progress div {
            font-size: smaller;
            background: orange;
            width: 0;
        }
</style>

<div class="main-container">

    <div class="container">

        <div class="row">

            @Html.Partial("_Profile_Sidebar")

            <div class="col-sm-9 page-content">

                <div class="inner-box">

                    @Html.Partial("_Hearder_Profile_v2")

                </div>


                <!--Data DIV -->

                <div class="panel-group collapse-accordion collapse in" id="accordion1" aria-expanded="true">

                    <div class="panel panel-default card">

                        <div class="panel-heading content-in card-header">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" data-target="#collapseB1"><i class="fa fa-futbol-o"></i> Información deportiva </a>
                            </h5>
                        </div>

                        <div class="panel-collapse collapse in" id="collapseB1" class="panel-collapse collapse">

                            <div class="panel-body">

                                <form class="form-horizontal" role="form" name="passwordForm" ng-submit="jugadorUpdate()" novalidate="" promise-btn>

                                    <div class="form-group">

                                        <label class="col-sm-3 control-label">Pie</label>

                                        <div class="col-sm-9">

                                            <div class="" tabindex="0">

                                                <select ng-model="jugador.Pie" class="form-control"
                                                        name="category" id="cboPie" tabindex="-1"
                                                        ng-options="item.Id as item.Descripcion for item in pies">

                                                    <option value="" class="selecter-placeholder" selected="">Seleccione Pie</option>

                                                    <option value="Vehicles" style="background-color: #E9E9E9; font-weight: bold;" disabled="disabled">
                                                        - Tipo de Pie -
                                                    </option>

                                                </select>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="form-group">

                                        <label class="col-sm-3 control-label">Fichaje</label>

                                        <div class="col-sm-9">

                                            <div class="" tabindex="0">

                                                <select ng-model="jugador.Fichaje" class="form-control"
                                                        name="category" id="cboFichaje" tabindex="-1"
                                                        ng-options="item.Id as item.Descripcion for item in fichajes">

                                                    <option value="" class="selecter-placeholder" selected="">Seleccione Fichaje</option>

                                                    <option value="Vehicles" style="background-color: #E9E9E9; font-weight: bold;" disabled="disabled">
                                                        - Tipo de Fichaje -
                                                    </option>

                                                </select>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">

                                        <label class="col-sm-3 control-label">Perfil</label>

                                        <div class="col-sm-9">

                                            <div class="" tabindex="0">

                                                <select ng-model="jugador.Perfil" class="form-control"
                                                        name="category" id="cboPerfil" tabindex="-1"
                                                        ng-options="item.Id as item.Descripcion for item in perfiles">

                                                    <option value="" class="selecter-placeholder" selected="">Seleccione Fichaje</option>

                                                    <option value="Vehicles" style="background-color: #E9E9E9; font-weight: bold;" disabled="disabled">
                                                        - Tipo de Fichaje -
                                                    </option>

                                                </select>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            Puesto
                                        </label>
                                        <div class="col-sm-9">
                                            <div class="" tabindex="0">
                                                <select ng-model="jugador.PuestoId" class="form-control"
                                                        name="category" id="cboPuestoId" tabindex="-1"
                                                        ng-options="item.Id as item.Descripcion group by item.Agrupador disable when item.enabled===false for item in puestos">
                                                    <option value="" class="selecter-placeholder" selected="">Seleccione un Puesto</option>

                                                    <option value="Puestos" style="background-color: #E9E9E9; font-weight: bold;" disabled="disabled">
                                                        - Puesto -
                                                    </option>
                                                </select>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            Puesto Alternativo
                                        </label>
                                        <div class="col-sm-9">
                                            <div class="" tabindex="0">
                                                <select ng-model="jugador.PuestoAltId" class="form-control"
                                                        name="category" id="cboPuestoAltId" tabindex="-1"
                                                        ng-options="item.Id as item.Descripcion group by item.Agrupador disable when item.enabled===false for item in puestos">
                                                    <option value="" class="selecter-placeholder" selected="">Seleccione un Puesto</option>

                                                    <option value="Puestos" style="background-color: #E9E9E9; font-weight: bold;" disabled="disabled">
                                                        - Puesto -
                                                    </option>
                                                </select>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Altura</label>
                                        <div class="col-sm-9">

                                            <div class="" tabindex="0">

                                                <select ng-model="jugador.Altura" class="form-control"
                                                        name="category" id="cboAltura" tabindex="-1"
                                                        ng-options="item.Id as item.Descripcion for item in alturas">

                                                    <option value="" class="selecter-placeholder" selected="">Seleccione Altura</option>

                                                    <option value="Vehicles" style="background-color: #E9E9E9; font-weight: bold;" disabled="disabled">
                                                        - Altura -
                                                    </option>

                                                </select>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Peso</label>
                                        <div class="col-sm-9">

                                            <div class="" tabindex="0">

                                                <select ng-model="jugador.Peso" class="form-control"
                                                        name="category" id="cboPeso" tabindex="-1"
                                                        ng-options="item.Id as item.Descripcion for item in pesos">

                                                    <option value="" class="selecter-placeholder" selected="">Seleccione Peso</option>

                                                    <option value="Vehicles" style="background-color: #E9E9E9; font-weight: bold;" disabled="disabled">
                                                        - Peso -
                                                    </option>

                                                </select>

                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-9">
                                            <button type="submit" class="btn btn-default page-action">Actualizar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>
                </div>

                <!--Video DIV -->

                <div class="panel-group collapse-accordion collapse in" id="accordion2" aria-expanded="true" style="margin-top:10px;">

                    <div class="panel panel-default card">

                        <div class="panel-heading content-in card-header">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" data-target="#collapseB2"><i class="fa fa-video-camera"></i> Video de tus habilidades <b> - Solo archivos .MP4 - </b> </a>
                            </h5>
                        </div>

                        <div class="panel-collapse collapse" id="collapseB2">

                            <div class="panel-body">

                                <p>Sube un video donde se pueda apreciar algunas (o todas) las habilidades que mencionas en tu perfil.</p>

                                <div class="col-sm-12">

                                    <div class="seller-info seller-profile">

                                        <div class="">
                                            <a>
                                                <video width="640" height="365" controls src="{{myVideo}}" accept="'video/*'" poster="{{myPoster}}"></video>
                                            </a>
                                        </div>

                                        <div class="user-ads-action">

                                            <a class="btn btn-sm  btn-success" type="file"
                                               ngf-select="uploadVideo($file, $invalidFiles)"
                                               ng-model="myVideo" accept="video/*"
                                               ngf-max-height="1000" ngf-max-size="50MB"
                                               ng-disabled="uploadVideoButton">

                                                <i class="fa fa-refresh"></i> Cambiar video

                                            </a>

                                            <a class="btn btn-sm  btn-default" 
                                               ng-click="removeVideo();"
                                               ng-show="myVideo"
                                               ng-disabled="uploadVideoButton">

                                                <i class="fa fa-remove"></i> Remover

                                            </a>

                                            <span ng-show="resultVideo" style="margin-left:5px;">
                                                <b>¡Video subido con éxito!</b>
                                            </span>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>

                <!-- Foto cuerpo completo DIV-->

                <div class="panel-group collapse-accordion collapse in" id="accordion3" aria-expanded="true" style="margin-top:10px;">

                    <div class="panel panel-default card">

                        <div class="panel-heading content-in card-header">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" data-target="#collapseB3"><i class="fa fa-picture-o"></i> Foto de cuerpo completo </a>
                            </h5>
                        </div>

                        <div class="panel-collapse collapse" id="collapseB3" class="panel-collapse collapse">

                            <div class="panel-body">

                                <p>Coloca una foto de cuerpo completo donde se puedan apreciar atributos fisicos como peso, altura, etc.</p>

                                <div class="col-sm-12">

                                    <div class="seller-info seller-profile">

                                        <div class="">
                                            <a>
                                                <img alt="User Image" class="thumbnail" ngf-src="myImage" style="height:330px; width:100%;">
                                            </a>
                                        </div>

                                        <div class="user-ads-action">
                                            <a class="btn btn-sm  btn-success" type="file" ngf-select="upload($file, $invalidFiles)" ng-model="myImage" accept="image/*" ngf-max-height="1000" ngf-max-size="1MB"><i class="fa fa-refresh"></i> Cambiar foto </a>
                                            <a class="btn btn-sm  btn-default" ng-click="removePhotoCuerpoCompleto();" ng-show="myImage"><i class="fa fa-remove"></i> Remover </a>

                                            <span ng-show="result" style="margin-left:5px;">
                                                <b>¡Imagen subida con éxito!</b>
                                            </span>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>

</div>