
@{
    Layout = null;
}

<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 page-content">

                <div class="row">
                    <div class="col-md-12 col-xs-12 col-xxs-12">
                        <div class="adds-wrapper inner-box">

                            <div class="col-sm-3  photobox">
                                <div class="add-image">
                                    <img class="userImg" src="~/Content/img/user.jpg" alt="user">
                                </div>
                            </div>
                            <div class="col-sm-9 add-desc-box">

                                <div class="add-details">

                                    <h5 class="add-title">
                                        <a href="">
                                            {{jugador.Nombre}} {{jugador.Apellido}}
                                        </a>
                                    </h5>

                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    AutoEvaluación
                                </h4>
                            </div>
                            <form class="form-horizontal" role="form" ng-submit="save()">
                                <div class="panel-body">
                                    <div class="panel-group accordion collapse in" id="accordion" aria-expanded="true">
                                        <div class="panel panel-default" ng-repeat="cab in autoEvaluacion.Cabeceras" id="{{cab.Id}}">
                                            <div class="panel-heading content-in">
                                                <h5 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse" data-target="#collapse{{cab.Id}}">{{cab.Descripcion}}<i class="l-arrows-plus s16"></i></a>
                                                </h5>
                                            </div>
                                            <div id="collapse{{cab.Id}}" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <div class="form-group" ng-repeat="det in cab.Detalle">
                                                        <label class="col-sm-5 control-label">{{det.Descripcion}}</label>
                                                        <div class="col-sm-7">
                                                            <select ng-model="det.Puntuacion" class="form-control"
                                                            name="category" id="search-category" tabindex="-1"
                                                            ng-options="item.Valor as item.Valor for item in puntuacion">

                                                            <option value="" class="selecter-placeholder" selected="">- Seleccione -</option>
                                                            </select>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-7 col-sm-5">
                                        <button type="submit" class="btn btn-default page-action">Actualizar</button>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
