  .reveal-animation.ng-enter {
    -webkit-animation: Fade-Enter-Anime 0.7s;
    -moz-animation: Fade-Enter-Anime 0.7s;
    animation: Fade-Enter-Anime 0.7s;
  }
  .Content-Fade-Leave {
    -webkit-animation: Fade-Leave-Anime 0.7s;
    -moz-animation: Fade-Leave-Anime 0.7s;
    animation: Fade-Leave-Anime 0.7s;
  }

  @keyframes Fade-Enter-Anime {
       from { opacity: 0; }
       to { opacity: 1; }
     }

  @keyframes Fade-Leave-Anime {
    from { opacity: 1; }
    to { opacity: 0; }
  }


  @-webkit-keyframes Fade-Enter-Anime {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @-webkit-keyframes Fade-Leave-Anime {
    from { opacity: 1; }
    to { opacity: 0; }
  }

  @-moz-keyframes Fade-Enter-Anime {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @-moz-keyframes Fade-Leave-Anime {
    from { opacity: 1; }
    to { opacity: 0; }
  }