@{
    Layout = null;
}

<div>

    <div class="search-row-wrapper" style="background-image: url(../../Content/img/slide_5.jpg); background-size: cover; background-position: center center;">

        <form role="form" novalidate="" name="advancedSearchForm" ng-submit="search()">

            <div class="container text-center" style="padding-top: 40px;">

                <div class="col-sm-9">
                    <input class="form-control keyword" type="text" placeholder="¿Describe que buscas?" ng-model="principalSearch">
                </div>

                <div class="col-sm-3">
                    <button type="submit" class="btn btn-block btn-primary"> Encontrar <i class="fa fa-search"></i></button>
                </div>

            </div>

        </form>

    </div>

    <div class="main-container">

        <div class="container">

            <div class="row" cg-busy="{promise:myPromise,message:'Buscando perfiles...'}">

                <div class="col-sm-3 page-sidebar mobile-filter-sidebar">

                    <aside>

                        <div class="inner-box">

                            <form role="form" novalidate="" name="advancedSearchForm" ng-submit="searchFilters()">

                                <div class="list-filter">

                                    <h5 class="list-title"><strong><a href="#"> Edad </a></strong></h5>

                                    <div class="filter-date filter-content">
                                        <ul>
                                            <li>
                                                <input type="radio" value='' id="posted_1" name="posted" ng-model="Busqueda.EdadHasta">
                                                <label for="posted_1">Todos</label>
                                            </li>
                                            <li>
                                                <input type="radio" value=18 id="posted_18" name="posted" ng-model="Busqueda.EdadHasta">
                                                <label for="posted_18">Hasta 18</label>
                                            </li>
                                            <li>
                                                <input type="radio" value=25 id="posted_25" name="posted" ng-model="Busqueda.EdadHasta">
                                                <label for="posted_25">Hasta 25</label>
                                            </li>
                                            <li>
                                                <input type="radio" value=35 id="posted_35" name="posted" ng-model="Busqueda.EdadHasta">
                                                <label for="posted_35">Hasta 35</label>
                                            </li>
                                        </ul>
                                        <button type="submit" class="btn btn-xs btn-default page-action">Aplicar filtros</button>
                                    </div>



                                </div>

                                <div class="locations-list  list-filter">
                                    <h5 class="list-title"><strong><a href="#">Pie</a></strong></h5>
                                    <ul>
                                        <li>
                                            <input type="radio" value='' id="tipo_pie_0" name="tipo_pie" ng-click="clearSelect(pies)">
                                            <label for="tipo_pie_0">Todos</label>
                                        </li>
                                        <li ng-repeat="item in pies">
                                            <input type="radio" id="tipo_pie_{{item.Descripcion}}" name="tipo_pie" ng-click="selectItem(pies,item)">
                                            <label for="tipo_pie_{{item.Descripcion}}">{{item.Descripcion}}</label>
                                        </li>
                                    </ul>

                                    <button type="submit" class="btn btn-xs btn-default page-action">Aplicar filtros</button>

                                </div>


                                <div class="locations-list  list-filter">
                                    <h5 class="list-title"><strong><a href="#">Puesto</a></strong></h5>
                                    <ul>
                                        <li>
                                            <input type="radio" value='' id="tipo_puesto_0" name="tipo_puesto" ng-click="clearSelect(puestos)">
                                            <label for="tipo_puesto_0">Todos</label>
                                        </li>
                                        <li ng-repeat="item in puestos">
                                            <input type="radio" id="tipo_puesto_{{item.Descripcion}}" name="tipo_puesto" ng-click="selectItem(puestos,item)">
                                            <label for="tipo_puesto_{{item.Descripcion}}">{{item.Descripcion}}</label>
                                        </li>
                                    </ul>
                                    <button type="submit" class="btn btn-xs btn-default page-action">Aplicar filtros</button>
                                </div>
                                
                                <div class="list-filter">
                                    <h5 class="list-title"><strong><a href="#">Tipo de Perfil</a></strong></h5>

                                    <div class="filter-date filter-content">
                                        <ul>
                                            <li>
                                                <input type="radio" value='' id="tipo_perfil_0" name="tipo_perfil" ng-click="clearSelect(perfiles)">
                                                <label for="tipo_perfil_0">Todos</label>
                                            </li>
                                            <li ng-repeat="item in perfiles">
                                                <input type="radio" id="tipo_perfil_{{item.Descripcion}}" name="tipo_perfil" ng-click="selectItem(perfiles,item)">
                                                <label for="tipo_perfil_{{item.Descripcion}}">{{item.Descripcion}}</label>
                                            </li>
                                        </ul>
                                    </div>
                                    <button type="submit" class="btn btn-xs btn-default page-action">Aplicar filtros</button>
                                </div>
                                
                                <div class="locations-list  list-filter">
                                    <h5 class="list-title"><strong><a href="#">Fichaje</a></strong></h5>
                                    <ul>
                                        <li>
                                            <input type="radio" value='' id="tipo_perfil_0" name="tipo_perfil" ng-click="clearSelect(fichajes)">
                                            <label for="tipo_perfil_0">Todos</label>
                                        </li>
                                        <li ng-repeat="item in fichajes">
                                            <input type="radio" id="tipo_fichaje_{{item.Descripcion}}" name="tipo_fichaje" ng-click="selectItem(perfiles,item)">
                                            <label for="tipo_fichaje_{{item.Descripcion}}">{{item.Descripcion}}</label>
                                        </li>
                                    </ul>
                                    <button type="submit" class="btn btn-xs btn-default page-action">Aplicar filtros</button>
                                </div>

                            </form>

                            <div style="clear:both"></div>

                        </div>

                    </aside>
                </div>

                <div class="col-sm-9 page-content col-thin-left">
                    <div class="category-list">
                        <div class="tab-box clearfix ">

                            <div class="col-lg-12  box-title no-border">
                                <div class="inner">
                                    <h2>
                                        <span> 	Busqueda:  </span> {{Busqueda.Nomre}}
                                        <small> {{searchResultCount}} perfiles encontrados</small>
                                    </h2>
                                </div>
                            </div>
                            <div class="menu-overly-mask"></div>
                        </div>

                        <div class="listing-filter hidden-xs">

                            <div class="pull-left col-sm-6 col-xs-12">
                            </div>

                            <div class="pull-right col-sm-6 col-xs-12 text-right text-center-xs listing-view-action">
                                <a class="clear-all-button text-muted" ng-click="clearFilter()">Limpiar filtros</a>
                            </div>

                            <div style="clear:both"></div>

                        </div>

                        <div class="adds-wrapper jobs-list">
                            <div class="item-list" ng-repeat="item in searchResult">
                                @Html.Partial("_Jugador_Item_v2")
                            </div>
                        </div>

                        <div class="tab-box  save-search-bar text-center">
                            <a href="#">
                                <i class="icon-star-empty"></i>
                                Salvar búsqueda
                            </a>
                        </div>
                    </div>
                    <div class="text-center">
                        <ul class="pager">
                            <li><a href="" ng-click='paginacion(-1)'>&larr; Previous</a></li>
                            <li><a href="" ng-click='paginacion(1)'>Next &rarr;</a></li>
                        </ul>
                    </div>
                    <div class="post-promo text-center">
                        <h2> ¿Te gustaria ver tu perfil aca? </h2>
                        <h5> ¡Registrate gratuitamente y deja que los mejores clubes y representantes te encuentren! </h5>
                        <a href="#!/Account/Login" class="btn btn-lg btn-border btn-post btn-danger">Quiero registrarme</a>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>
