
@{
    Layout = null;
}

<div class="intro-inner">
    <div class="about-intro" style="background:url(/Content/img/terms_test_image.jpg) no-repeat center;
    background-size:cover;">
    <div class="dtable hw100">
        <div class="dtable-cell hw100">
            <div class="container text-center">
                <h1 class="intro-title animated fadeInDown"> Quienes somos?</h1>
            </div>
        </div>
    </div>
</div>

</div>

<div class="main-container inner-page">
    <div class="container">
        <div class="section-content">
            <div class="row ">
                <h2 class="text-center title-1"> Quienes somos?</h2>
                <hr class="center-block small text-hr">
            </div>
            <div class="container-content">
                <div class="inner-box ">
                    
                    <hr>
                    <div class="w100 clearfix">
                        <p>
                            AllWiners surge del deseo de un grupo de profesionales por brindar un espacio de oportunidades para todos los amantes del deporte.

                            Estamos convencidos que se puede cumplir un sueño si se persigue sin claudicar, por eso, queremos ser parte en este camino, ofreciendo nexos que permitan encontrar las posibilidades para  hacerlo realidad.

                            Quienes formamos parte de AllWiners creemos en el profesionalismo, la honestidad y los valores como motores para alcanzar la excelencia. Y es así que nuestro nombre está inspirado en los All Blacks como ejemplo de esa cultura, liderazgo y amor por el deporte. AllWiners es la suma de tres palabra All  - Winner – Players  formando la marca que da nombre a este, nuestro sueño.

                            En un mundo cada vez más conectado todos pueden tener una oportunidad de ser vistos, porque todos tienen algo para dar y en eso se basa nuestra misión.

                            Imaginamos un lugar donde todos sean ganadores y queremos hacerlo realidad en AllWiners.com.

                            Informes y consutlas: <a href="mailto:AllWinersok@gmail.com">AllWinersok@gmail.com</a> 
                        </p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

