<div ng-controller="indexController">

    <div class="intro jobs-intro hasOverly" style="background-image: url(/Content/img/slide_1.jpg); background-position: center center;"
         data-ng-hide="!user.authenticated">

        <div class="dtable hw100">

            <div class="dtable-cell hw100">

                <div class="container text-center">

                    <h1 class="intro-title animated fadeInDown"> Encuentra un nuevo club </h1>

                    <p class="sub animateme fittext3 animated fadeIn"> La forma mas rapida de encontrar un club, intermediario o un jugador </p>

                    <div class="row search-row animated fadeInUp">

                        <form ng-submit="search();">

                            <div class="col-lg-9 col-sm-9 search-col relative">
                                <i class="icon-user icon-append"></i>
                                <input type="text" name="player_search" class="form-control has-icon" ng-model="searchValue"
                                       placeholder="Escribe lo que quieras sobre el jugador que quieres encontrar" value="">
                            </div>

                            <div class="col-lg-3 col-sm-3 search-col">
                                <button class="btn btn-primary btn-search btn-block" type="submit">
                                    <i class="icon-search"></i><strong>
                                        Encontrar
                                    </strong>
                                </button>
                            </div>

                        </form>

                    </div>

                    <div class="resume-up">
                        <a>
                            <i class="icon-doc-4"></i>
                        </a>
                        <a href="#!Profile/PrivateProfile"><b>Carga tu perfil</b></a> y encuentra facilmente lo que buscas.
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div data-ng-hide="user.authenticated">

        <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
                <a href="#!/Account/Register">
                    <img ng-src="{{slide.image}}" class="image">
                </a>
                <div class="carousel-caption">

                </div>
            </slide>
        </carousel>

    </div>

    <div class="main-container">

        <div class="container">

            <div style="clear: both"></div>

            <div class="row">

                <div class="col-sm-9 page-content col-thin-right">

                    <div class="content-box col-lg-12">

                        <div class="row row-featured row-featured-category">

                            <div class="col-lg-12  box-title no-border">
                                <div class="inner">
                                    <h2>
                                        <span>Ultimos perfiles</span>
                                        Registrados <a ng-href="{{user.authenticated?'#!/Search/':'#!/Account/Register'}}" class="sell-your-item"> {{user.authenticated?'Ver todos los perfiles':'QUIERO DARME DE ALTA'}} <i class="icon-th-list"></i> </a>
                                    </h2>
                                </div>
                            </div>

                            <div class="adds-wrapper jobs-list">
                                <div class="item-list" ng-repeat="item in searchResult">
                                    @Html.Partial("_Jugador_Item")
                                </div>
                            </div>

                            <div class="tab-box  save-search-bar text-center"><a class="text-uppercase" ng-href="{{user.authenticated?'#!/Search/':'#!/Account/Register'}}"> <i class="icon-briefcase "></i> Ver todos los perfiles </a></div>

                        </div>

                    </div>

                </div>

                <div class="col-sm-3 page-sidebar col-thin-left">

                    <aside>

                        <div class="inner-box no-padding">
                            <div class="inner-box-content">
                                <a href="#"><img class="img-responsive" src="~/Content/img/company-logos/add_example.jpg" alt="tv"></a>
                            </div>
                        </div>

                        <div class="inner-box">

                            <h2 class="title-2">Categorias Perfiles </h2>

                            <div class="inner-box-content">

                                <ul class="cat-list arrow">
                                    <li>
                                        <a href="job-list.html">Portero <span class="count">(52)</span> </a>
                                    </li>
                                    <li>
                                        <a href="job-list.html">Defensor central <span class="count">(156)</span> </a>
                                    </li>
                                    <li>
                                        <a href="job-list.html">Defensor lateral <span class="count">(25)</span></a>
                                    </li>
                                    <li><a href="job-list.html">Mediocampista defensivo <span class="count">(87)</span></a></li>
                                    <li><a href="job-list.html">Mediocampista Central <span class="count">(15)</span></a></li>
                                    <li><a href="job-list.html">Lateral volante <span class="count">(125)</span></a></li>
                                    <li><a href="job-list.html">Volante de corte <span class="count">(7)</span></a></li>
                                    <li><a href="job-list.html">Volante de salida <span class="count">(85)</span></a></li>
                                    <li>
                                        <a href="job-list.html">Volante mixto <span class="count">(56)</span></a>
                                    </li>
                                    <li><a href="job-list.html">Media punta derecha <span class="count">(100)</span></a></li>
                                    <li>
                                        <a href="job-list.html">Delantero centro <span class="count">(180)</span></a>
                                    </li>
                                    <li>
                                        <a href="job-list.html">Puntero <span class="count">(200)</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="inner-box no-padding">
                            <img class="img-responsive" src="~/Content/img/company-logos/add_example.jpg" alt="">
                        </div>

                    </aside>

                </div>


            </div>

        </div>

    </div>

    <div class="page-info hasOverly" style="background-image: url(../../Content/img/2.jpg);    background-position: center center;  background-size:cover">

        <div class="bg-overly">

            <div class="container text-center section-promo">

                <div class="row">

                    <div class="col-sm-3 col-xs-6 col-xxs-12">

                        <div class="iconbox-wrap">

                            <div class="iconbox">

                                <div class="iconbox-wrap-icon">
                                    <i class="icon  icon-commerical-building"></i>
                                </div>

                                <div class="iconbox-wrap-content">
                                    <h5><span>2200+</span></h5>
                                    <div class="iconbox-wrap-text">Jugadores</div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-sm-3 col-xs-6 col-xxs-12">

                        <div class="iconbox-wrap">

                            <div class="iconbox">

                                <div class="iconbox-wrap-icon">
                                    <i class="icon  icon-briefcase"></i>
                                </div>

                                <div class="iconbox-wrap-content">
                                    <h5><span>400K+</span></h5>
                                    <div class="iconbox-wrap-text">Entrenadores</div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-sm-3 col-xs-6  col-xxs-12">

                        <div class="iconbox-wrap">

                            <div class="iconbox">

                                <div class="iconbox-wrap-icon">
                                    <i class="icon  icon-users"></i>
                                </div>

                                <div class="iconbox-wrap-content">
                                    <h5><span>3000+</span></h5>
                                    <div class="iconbox-wrap-text"> Intermediarios</div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-sm-3 col-xs-6 col-xxs-12">

                        <div class="iconbox-wrap">

                            <div class="iconbox">

                                <div class="iconbox-wrap-icon">
                                    <i class="icon icon-doc-1"></i>
                                </div>

                                <div class="iconbox-wrap-content">
                                    <h5><span>2000+</span></h5>
                                    <div class="iconbox-wrap-text"> Clubes</div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="page-bottom-info">

        <div class="page-bottom-info-inner">

            <div class="page-bottom-info-content text-center">

                <h1>
                    Si tiene alguna pregunta, comentarios or dudas, no dude en llamarnos al
                    (0810) 555-5555
                </h1>

                <a class="btn  btn-lg btn-primary-dark" href="tel:+000000000">
                    <i class="icon-mobile"></i> <span class="hide-xs color50">Llame ahora:</span> (0810) 555-5555
                </a>

            </div>

        </div>

    </div>

</div>
