<div ng-controller="indexController">

    <div class="intro jobs-intro hasOverly" style="background-image: url(/Content/img/slide_3.jpg); background-position: center center;"
         data-ng-hide="!user.authenticated">

        <div class="dtable hw100">

            <div class="dtable-cell hw100">

                <div class="container text-center">

                    <h1 class="intro-title animated fadeInDown"> Encuentra un nuevo club </h1>

                    <p class="sub animateme fittext3 animated fadeIn"> La forma mas rapida de encontrar un club, intermediario o un jugador </p>

                    <div class="row search-row animated fadeInUp">

                        <form ng-submit="search();">

                            <div class="col-lg-9 col-sm-9 search-col relative">
                                <i class="icon-user icon-append"></i>
                                <input type="text" name="player_search" class="form-control has-icon" ng-model="searchValue"
                                       placeholder="Escribe lo que quieras sobre el jugador que quieres encontrar" value="">
                            </div>

                            <div class="col-lg-3 col-sm-3 search-col">
                                <button class="btn btn-primary btn-search btn-block" type="submit">
                                    <i class="icon-search"></i><strong>
                                        Encontrar
                                    </strong>
                                </button>
                            </div>

                        </form>

                    </div>

                    <div class="resume-up">
                        <a>
                            <i class="icon-doc-4"></i>
                        </a>
                        <a href="#!Profile/PrivateProfile"><b>Carga tu perfil</b></a> y encuentra facilmente lo que buscas.
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div data-ng-hide="user.authenticated">

        <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
                <a href="#!/Account/Register">
                    <img ng-src="{{slide.image}}" class="image">
                </a>
                <div class="carousel-caption">

                </div>
            </slide>
        </carousel>

    </div>

    <div class="main-container">

        <div class="container">

            <div style="clear: both"></div>

            <div class="row">

                    <div class="col-sm-9 page-content col-thin-right">

                        <div class="content-box col-lg-12">

                            <div class="row row-featured row-featured-category">

                                <div class="col-lg-12  box-title no-border">
                                    <div class="inner">
                                        <h2>
                                            <span>Ultimos perfiles</span>
                                            Registrados <a ng-href="{{user.authenticated?'#!/Search/':'#!/Account/Register'}}" class="sell-your-item"> {{user.authenticated?'Ver todos los perfiles':'QUIERO DARME DE ALTA'}} <i class="icon-th-list"></i> </a>
                                        </h2>
                                    </div>
                                </div>

                                <div class="adds-wrapper jobs-list">
                                    <div class="item-list" ng-repeat="item in searchResult">
                                        @Html.Partial("_Jugador_Item")
                                    </div>
                                </div>

                                <div class="tab-box  save-search-bar text-center">
                                    <a class="text-uppercase" ng-href="{{user.authenticated?'#!/Search/':'#!/Account/Register'}}"> <i class="icon-briefcase "></i> Ver todos los perfiles </a>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-sm-3 page-sidebar col-thin-left">

                        <carousel interval="myInterval">
                            <slide ng-repeat="slide in slidespublicidadchica" active="slide.active">
                                <img ng-src="{{slide.image}}" class="image">
                                <div class="carousel-caption">
                                </div>
                            </slide>
                        </carousel>

                        <aside>
                            <div class="col-md-12 reg-sidebar">
                                <div class="reg-sidebar-inner text-center">
                                    <div class="promo-text-box">
                                        <i class="fa fa-address-card-o fa-4x" style="color:#FF9113"></i>
                                        <h3>
                                            <strong>Carga Tus Datos y Fotos</strong>
                                        </h3>
                                        <p>
                                            Siempre carga datos verdaderos sino los clubes no podrán ubicarte.
                                        </p>
                                        <p>
                                            Carga una foto del rostro y una de Cuerpo entero.
                                        </p>

                                    </div>
                                    <div class="promo-text-box">
                                        <i class="fa fa-clock-o fa-4x" style="color:#E6C840"></i>
                                        <h3>
                                            <strong>Carga tus Antecedentes Deportivos</strong>
                                        </h3>
                                        <p>
                                            Coméntanos particularidades, funciones en tu puesto y logros que sean buenos resaltar.
                                        </p>
                                    </div>
                                    <div class="promo-text-box">
                                        <i class="fa fa-bar-chart fa-4x" style="color:#74C29B"></i>
                                        <h3>
                                            <strong>Realiza la Auto Evaluación</strong>
                                        </h3>
                                        <p>
                                            Recuerda ser consistente con la carga y solo resaltar en lo que te destacas.
                                        </p>
                                    </div>
                                    <div class="promo-text-box">
                                        <i class="fa fa-certificate fa-4x" style="color:#FF9113"></i>
                                        <h3>
                                            <strong>Certifica con AllWiners</strong>
                                        </h3>
                                        <p>
                                            Si quieres potenciar tus chances, certifica con AllWiners, recuerda que los jugadores certificados son los que los clubes miran primero.
                                        </p>
                                    </div>
                                    <div class="promo-text-box">
                                        <i class="fa fa-youtube-play fa-4x" style="color:#E6C840"></i>
                                        <h3>
                                            <strong>Arma tu Video con AllWiners</strong>
                                        </h3>
                                        <p>
                                            Ponete en contacto con AllWiners para armar un video presentación tuyo, esto le dará profesionalismo y resaltará tus habilidades además será compartido con los clubes y buscadores de talentos.
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </aside>



                    </div>


                </div>
            <div class="col-md-12">

                

            </div>
        </div>

    </div>

    @*<carousel interval="myInterval">
        <slide ng-repeat="slide in slidespublicidad" active="slide.active">
            <img ng-src="{{slide.image}}" class="image">
            <div class="carousel-caption">
            </div>
        </slide>
    </carousel>*@

    @*<div style="margin-top: 3px;"></div>*@
    <div class="page-info hasOverly" style="background-image: url(../../Content/img/slide_4.jpg);    background-position: center center;  background-size:cover">

        <div class="bg-overly">

            <div class="container text-center section-promo">

                <div class="row">
                    <div class="col-sm-12 col-xs-12 col-xxs-12">
                        <div class="iconbox-wrap">
                            <div class="iconbox">
                                <div class="iconbox-wrap-content">
                                    <h5 style="text-align: center;"><span>Seguinos</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 col-xxs-12">

                        <div class="iconbox-wrap">

                            <div class="iconbox">
                                <div class="iconbox-wrap-icon">
                                    <a href="https://twitter.com/AllWiners">
                                        <i class="icon  fa fa-twitter"></i>
                                    </a>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="col-sm-3 col-xs-6 col-xxs-12">

                        <div class="iconbox-wrap">

                            <div class="iconbox">

                                <div class="iconbox-wrap-icon">
                                    <a href="https://www.facebook.com/allwiners.allwiners">
                                        <i class="icon  fa fa-facebook"></i>
                                    </a>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-sm-3 col-xs-6  col-xxs-12">

                        <div class="iconbox-wrap">

                            <div class="iconbox">

                                <div class="iconbox-wrap-icon">
                                    <a href="https://plus.google.com/u/1/117563823307263017845">
                                        <i class="icon  fa fa-google-plus"></i>
                                    </a>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-sm-3 col-xs-6 col-xxs-12">

                        <div class="iconbox-wrap">

                            <div class="iconbox">

                                <div class="iconbox-wrap-icon">
                                    <a href="https://www.instagram.com/allwinersok/?hl=es">
                                        <i class="icon  fa fa-instagram"></i>
                                    </a>
                                </div>

                            </div>

                        </div>

                    </div>
                    
                </div>
            </div>

        </div>

    </div>

    <div class="page-bottom-info">

        <div class="page-bottom-info-inner">

            <div class="page-bottom-info-content text-center">

                <h1>
                    Comunícate con nuestro equipo de profesionales vía
                </h1>

                <a class="btn  btn-lg btn-primary-dark" href="mailto:allwiners@allwiners.com">
                    <i class="icon-mail"></i> <span class="hide-xs color50">allwiners@allwiners.com</span>
                </a>

            </div>

        </div>

    </div>

</div>
