@{
    Layout = null;
}

<div class="slider-section">

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="slider-content">
                    <h1>UEFA EURO 2016</h1>
                    <p>The 2016 UEFA European Championship, commonly referred to as UEFA Euro 2016 or simply Euro 2016, was the 15th UEFA European Championship</p>
                </div>
            </div>
        </div>
    </div>

</div>
