<!doctype html>

<html class="no-js" lang="en" data-ng-app="appBusDep">

<head>

    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Busqueda deportiva | Busqueda de jugadores profesionales</title>

    <link rel="icon" href="images/favicon.png">

    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/Content/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="~/Content/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/Content/please-wait.css">
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.fs.scroller.css">
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.fs.selecter.css">
    <link rel="stylesheet" type="text/css" href="~/Content/loading-bar.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/country-flags-icon.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-datetimepicker.css">
    <link rel="stylesheet" type="text/css" href="~/Content/club-flags-icon.css">
    <link rel="stylesheet" type="text/css" href="~/Content/ui-carousel.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">

    <link rel="stylesheet" type="text/css" href="~/Content/ngDialog/ngDialog.css">
    <link rel="stylesheet" type="text/css" href="~/Content/ngDialog/ngDialog-theme-default.min.css">

    <link rel="stylesheet" type="text/css" href="~/Content/angular-toast/angular-toastr.min.css">

</head>

<body ng-init="user={authenticated:@Model.Authenticated,UserName:'@Model.UserName'}">

    <div id="wrapper">

        @Html.Partial("_Header")


        <div ng-view class="reveal-animation" autoscroll="true">
          
        </div>

        @Html.Partial("_Footer")

        <script src="~/Scripts/vendor/jquery/jquery-1.10.2.min.js"></script>

        <script src="~/Scripts/vendor/boostrap/bootstrap.js"></script>

        <script src="~/Scripts/vendor/custom/please-wait.min.js"></script>
        <script src="~/Scripts/vendor/custom/owl.carousel.min.js"></script>
        <script src="~/Scripts/vendor/custom/moment.min.js"></script>
        <script src="~/Scripts/vendor/custom/hideMaxListItem.js"></script>

        <script src="~/Scripts/vendor/boostrap/bootstrap-datetimepicker.min.js"></script>

        <script src="~/Scripts/vendor/jquery/jquery.matchHeight-min.js"></script>
        <script src="~/Scripts/vendor/jquery/jquery.fs.scroller.js"></script>


        <script type="text/javascript">
            var loading_screen = pleaseWait({

            logo: "./Content/img/Logo250.png",
            backgroundColor: '#20a759',
            loadingHtml: '<div class="spinner"><div class="double-bounce1"></div><div class="double-bounce2"></div></div>'
            });

            setInterval(function () { loading_screen.finish(); }, 3000);

        </script>

        <!-- Angular vendors -->

        <script src="~/Scripts/vendor/angular/angular.min.js"></script>
        <script src="~/Scripts/vendor/angular/angular-route.js"></script>
        <script src="~/Scripts/vendor/angular/angular-messages.js"></script>
        <script src="~/Scripts/vendor/angular/angular-animate.min.js"></script>
        <script src="~/Scripts/vendor/angular/angular-local-storage.min.js"></script>
        <script src="~/Scripts/vendor/angular/angular-promise-buttons.min.js"></script>
        <script src="~/Scripts/vendor/angular/angular-toastr.min.js"></script>
        <script src="~/Scripts/vendor/angular/angular-toastr.tpls.min.js"></script>

        <script src="~/Scripts/vendor/custom/loading-bar.min.js"></script>
        <script src="~/Scripts/vendor/custom/ui-carousel.min.js"></script>
        <script src="~/Scripts/vendor/custom/ngDialog.min.js"></script>

        
        <!-- Fin Angular vendors -->

        <!-- Angular app -->

        <script src="~/Scripts/app/app.js"></script>
        <script src="~/Scripts/app/app-routes.js"></script>
        <script src="~/Scripts/app/app-animations.js"></script>

        <script src="~/Scripts/app/components/account/loginController.js"></script>
        <script src="~/Scripts/app/components/account/registerController.js"></script>

        <script src="~/Scripts/app/components/index/indexController.js"></script>

        <script src="~/Scripts/app/components/privateProfile/privateProfileController.js"></script>
        <script src="~/Scripts/app/components/privateProfile/privateProfileService.js"></script>

        <script src="~/Scripts/app/components/publicProfile/publicProfileController.js"></script>

        <script src="~/Scripts/app/components/search/searchController.js"></script>

        <script src="~/Scripts/app/shared/directives/datetimepicker.js"></script>

        <script src="~/Scripts/app/shared/factories/authInterceptorService.js"></script>

        <script src="~/Scripts/app/shared/factories/authService.js"></script>

        <!-- Fin Angular app -->

    </div>

</body>

</html>

