
@{
    Layout = null;
}

<div class="intro-inner">
    <div class="about-intro" style="background:url(/Content/img/terms_test_image.jpg) no-repeat center;
    background-size:cover;">
        <div class="dtable hw100">
            <div class="dtable-cell hw100">
                <div class="container text-center">
                    <h1 class="intro-title animated fadeInDown"> Política de Privacidad </h1>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="main-container inner-page">
    <div class="container">
        <div class="section-content">
            <div class="row ">
                <h2 class="text-center title-1"> Política de Privacidad ALLWINNERS </h2>
                <hr class="center-block small text-hr">
            </div>
            <div class="container-content">
                <div class="inner-box ">
                    <h3 class="title-1"> Política de Privacidad</h3>
                    <p>
                        <strong>
                            Los datos personales facilitados por el usuario de esta web a Allwiners.com están sujetos a lo dispuesto en la Ley 25.326 de protección de datos, y se incorporarán a ficheros automatizados titularidad de Allwiners.com, todo ello con sujeción a lo dispuesto en la mencionada Ley. Al amparo de esta Ley, el interesado autoriza el tratamiento, automatizado o no, de sus datos personales a Allwiners.com, con la finalidad de que le mantenga informado sobre novedades y otras informaciones referentes a Allwiners.com
                        </strong>
                    </p>
                    <p>
                        <strong>
                            Si no acepta estas condiciones generales, no utilice este Sitio Web.Cualquier persona que no acepte estas condiciones generales, las cuales tienen carácter obligatorio y vinculante, deberá abstenerse de utilizar el Sitio Web y/o los servicios ofrecidos.
                        </strong>
                    </p>
                    <p>
                        <strong>
                            Para el ejercicio de los derechos de acceso, rectificación, oposición o cancelación debe dirigirse a: <a href="mailto:allwiners@allwiners.com">allwiners@allwiners.com</a>
                        </strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

