@{
    Layout = null;
}

<div>



    <div class="main-container">

        <div class="container">

            <div class="row" cg-busy="{promise:myPromise,message:'Buscando eventos...'}">

                <div class="col-sm-12 page-content col-thin-left">
                    <div class="category-list">

                        <div class="adds-wrapper jobs-list">
                            <div class="item-list" ng-repeat="pu in eventos">
                                <div class="col-sm-6  photobox box-title h2">
                                    <h2 class="col-sm-12 photobox center-side" style="font-size: 30px;">
                                        {{pu.Titulo}}
                                    </h2>
                                    <div class="add-image center">
                                        <img alt="" class="thumbnail" ng-src="{{pu.ImageUrl}}" style="height: 100%; width: 100%;">
                                    </div>
                                    <button class="btn btn-success btn-sm bold " ng-show="pu.Link!=null && pu.Link!=''" ng-click='abrirlink(pu)'>
                                        Ver Link
                                    </button>
                                </div>
                                <div class="col-sm-6">
                                    <div class="col-sm-12" style="clear: both; margin-bottom: 30px;"></div>
                                    <div class="col-sm-12" ng-show="pu.Lugar!=null && pu.Lugar!=''">
                                        <h3 class="add-title">
                                            <a><i class="fa fa-street-view" aria-hidden="true"></i>&nbsp;Lugar</a>
                                        </h3>
                                        <div class="col-sm-offset-1 col-sm-11">
                                            <span class="info-row">{{pu.Lugar}}</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12" ng-show="pu.Informacion!=null && pu.Informacion!=''">
                                        <h3 class="add-title">
                                            <a><i class="fa fa-info" aria-hidden="true"></i>&nbsp;Información</a>
                                        </h3>
                                        <div class="col-sm-offset-1 col-sm-11">
                                            <span class="info-row">{{pu.Informacion}}</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12" ng-show="pu.Categorias!=null && pu.Categorias!=''">
                                        <h3 class="add-title">
                                            <a><i class="fa fa-users" aria-hidden="true"></i>&nbsp;Categorias</a>
                                        </h3>
                                        <div class="col-sm-offset-1 col-sm-11">
                                            <span class="info-row">{{pu.Categorias}}</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12" ng-show="pu.ClubLogo!=null && pu.ClubLogo!=''">

                                        <h3 class="add-title">
                                            <a><i class="fa fa-futbol-o" aria-hidden="true"></i>&nbsp;Club</a>
                                        </h3>
                                        <div class="clearfix prop-info-block middle">
                                            <i class="flagclubicon flag-{{pu.ClubLogo}} xl icon-th-thumb" title="{{pu.ClubDescripcion}}"></i>
                                            <span class="info-row">{{pu.ClubDescripcion}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-box  save-search-bar text-center">
                            <a href="">
                                <i class="icon-star-empty"></i>
                            </a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>
