@{
    Layout = null;
}

<div class="main-container" ng-controller="profilePublicController">
    <div class="container">
        <div class="row" cg-busy="{promise:myPromise,message:'Cargando perfil...'}">
            @Html.Partial("_Profile_Jugado")
        </div>
    </div>
</div>