
@{
    Layout = null;
}

<div class="main-container">

    <div class="container">

        <div class="row">


            <div class="col-sm-10 page-content">

                <div class="row">
                    <div class="col-md-12 col-xs-12 col-xxs-12">
                        <div class="adds-wrapper inner-box">

                            <div class="col-sm-3  photobox">
                                <div class="add-image">
                                    <img class="userImg" src="~/Content/img/user.jpg" alt="user">
                                </div>
                            </div>
                            <div class="col-sm-9 add-desc-box">

                                <div class="add-details">

                                    <h5 class="add-title">
                                        <a href="">
                                            {{jugador.Nombre}} {{jugador.Apellido}}
                                        </a>
                                    </h5>

                                    <span class="info-row"> <span class="item-location"> {{jugador.PuestoDescripcion}}, Pie: {{jugador.Pie}} </span> </span>

                                    <span class="info-row"> <span class="item-location ng-binding"><i class="fa fa-map-marker"></i> {{jugador.Pais}} </span> <span class="date"><i class="icon-clock"> </i> {{jugador.Edad}} años / {{jugador.Altura}} metros </span> <span class="salary ng-binding"> <i class="fa fa-male"> </i> Perfil: {{jugador.Perfil}}</span></span>

                                    <div class="prop-info-box">

                                        <div class="prop-info">

                                            <div class="clearfix prop-info-block">
                                                <span class="info-row" style="margin-bottom:5px;">Nacionalidad</span>
                                                <i class="flagicon flag-{{jugador.NacionalidadIso}} icon-th-thumb" title={{jugador.Nacionalidad}}></i>
                                            </div>

                                            <div class="clearfix prop-info-block middle">

                                                <span class="info-row">Club actual</span>
                                                <i class="flagclubicon flag-{{jugador.LogClubActual}} icon-th-thumb" title={{jugador.ClubActual}}></i>


                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="col-md-12 col-xs-12 col-xxs-12">
                        <div class="adds-wrapper inner-box">

                            <div class="item-list" ng-repeat="r in antecedentes">


                                <div class="col-sm-12 add-desc-box">

                                    <div class="add-details">

                                        <div class="col-sm-4 add-desc-box center-side">

                                            <h4>
                                                <span> 	{{r.ClubDescripcion}} </span>
                                                
                                            </h4>
                                            <i class="flagclubicon flag-{{r.ClubLogo}} xl icon-th-thumb" title={{r.ClubDescripcion}}></i>
                                        </div>
                                        <div class="col-sm-6 add-desc-box">
                                            <span class="info-row"> <span class="item-location"> Desde: {{r.FechaInicioText}} </span> </span>
                                            <span class="info-row"> <span class="item-location"> Hasta: {{r.FechaFinText}} </span> </span>
                                            <span class="info-row"> <span class="item-location"> Partidos: {{r.Partidos}} </span> </span>
                                            <span class="info-row"> <span class="item-location"> Asistencias: {{r.Asistencias}} </span> </span>
                                            <span class="info-row"> <span class="item-location"> Goles: {{r.Goles}} </span> </span>
                                        </div>
                                        <div class="col-sm-2 text-right  price-box">

                                            <a class="btn btn-border-thin  btn-save" title="Editar">
                                                <i class="glyphicon glyphicon-edit"></i>
                                            </a>

                                            @*<a class="btn btn-border-thin  btn-share ">
                                                <i class="icon icon-export" title="Compartir perfil"></i>
                                            </a>*@

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
