@{
    Layout = null;
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="contact-title">
            <h3>¡Registrate <span>&amp; e inicia sesión!</span></h3>
        </div>
    </div>

    <div class="col-md-8 col-md-offset-2">
        <form action="#" class="row comment-reply contact-form">
            <div class="col-md-6 form-group">
                <input type="text" class="form-control" placeholder="Name*">
            </div>
            <div class="col-md-6 form-group">
                <input type="email" class="form-control" placeholder="Email*">
            </div>
            <div class="col-md-12 form-group">
                <input type="text" class="form-control" placeholder="Website*">
            </div>
            <div class="col-md-12 form-group">
                <textarea name="yourtext" class="form-control" cols="30" rows="6" placeholder="Your message"></textarea>
            </div>
            <div class="col-md-12">
                <input type="submit" class="comment-submit" value="Submit Your Message">
            </div>
        </form>
    </div>

</div>
