@using BusDep.Web.Class
@{
    Layout = null;
}

<div class="main-container">

    <div class="container">

        <div class="row">

            @Html.Partial("_Profile_Sidebar")

            <div class="col-sm-9 page-content">
                <div class="inner-box">
                   @{
                       if (HelperUser.GetUserLogOn().JugadorId.HasValue)
                       {
                        @Html.Partial("_Hearder_Profile_v2")
                       }
                       else if (HelperUser.GetUserLogOn().EntrenadorId.HasValue)
                       {
                        @Html.Partial("_Hearder_Coach")
                       }
                }
                </div>


                <div class="inner-box">

                    <div id="accordion" class="panel-group">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-target="#collapseB1"><i class="fa fa-lock"></i>Configuración de acceso </a>
                                </h4>
                            </div>

                            <div class="panel-collapse collapse in" id="collapseB1">

                                <div class="panel-body">

                                    <div class="alert alert-{{messageType}} pgray  alert-lg" role="alert" ng-show="passwordChangeSuccess">

                                        <p>
                                            <i class="fa {{messageIcon}}" style="margin-right: 15px; font-size: 20px;"></i> {{message}}
                                        </p>

                                    </div>

                                    <form class="form-horizontal" role="form" name="passwordForm" ng-submit="passwordUpdate()" novalidate="" promise-btn>

                                        <div class="form-group">
                                            <div class="col-sm-12">


                                            </div>
                                        </div>

                                        <div class="form-group" ng-class="{ 'has-error': (passwordForm.oldPassword.$touched && passwordForm.oldPassword.$invalid) || (passwordForm.$submitted && passwordForm.oldPassword.$invalid)}">

                                            <label class="col-sm-3 control-label">Contraseña actual</label>

                                            <div class="col-sm-9 input-group input-icon">
                                                <span class="input-group-addon bgtransparent"><i class="fa fa-lock s16"></i></span>
                                                <input name="oldPassword" type="password" class="form-control" placeholder="Repite tu contraseña actual"
                                                       ng-model="loginData.OldPassword" ng-minlength="6" required>
                                            </div>

                                            <div class="help-block col-sm-9" ng-messages="passwordForm.oldPassword.$error" ng-if="passwordForm.oldPassword.$touched || passwordForm.$submitted">
                                                <p ng-message="required">La contraseña actual es necesaria.</p>
                                                <p ng-message="minlength">Tu contraseña es muy corta.</p>
                                            </div>

                                        </div>

                                        <div class="form-group" ng-class="{ 'has-error': (passwordForm.password.$touched && passwordForm.password.$invalid) || (passwordForm.$submitted && passwordForm.password.$invalid)}">

                                            <label class="col-sm-3 control-label">Nueva Contraseña</label>

                                            <div class="col-sm-9 input-group input-icon">
                                                <span class="input-group-addon bgtransparent"><i class="fa fa-lock s16"></i></span>
                                                <input name="password" type="password" class="form-control" placeholder="Introduce tu nueva contraseña"
                                                       ng-model="loginData.NewPassword" ng-minlength="6" required>
                                            </div>

                                            <div class="help-block col-sm-9" ng-messages="passwordForm.password.$error" ng-if="passwordForm.password.$touched || passwordForm.$submitted">
                                                <p ng-message="required">Tu contraseña es necesaria.</p>
                                                <p ng-message="minlength">Tu contraseña es muy corta.</p>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <button type="submit" class="btn btn-default page-action">Actualizar</button>
                                            </div>
                                        </div>

                                    </form>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>

</div>