
@{
    Layout = null;
}

<div class="main-container" ng-controller="passwordRecoveryController">

    <div class="container">

        <div class="row">

            <div class="col-sm-5 login-box">

                <div class="panel panel-default">

                    <div class="panel-intro text-center">
                        <img alt="img" class="img-responsive" src="~/Content/img/Allwiners/logo_header.png" style="display: inline;">
                    </div>

                    <div class="panel-body">

                        <flash-message name="passwordRecovery"></flash-message>

                        <form role="form" novalidate="" name="passwordRecoveryForm" ng-submit="passwordRecovery()" promise-btn>

                            <div class="form-group" ng-class="{ 'has-error': (passwordRecoveryForm.email.$touched && passwordRecoveryForm.email.$invalid) || (passwordRecoveryForm.$submitted && passwordRecoveryForm.email.$invalid)}">

                                <label for="sender-email" class="control-label">Email:</label>

                                <div class="input-group input-icon">

                                    <span class="input-group-addon bgtransparent"><i class="icon-user fa"></i></span>

                                    <input id="sender-email" type="email" placeholder="Email" class="form-control email" name="email" data-ng-model="recoveryData.Mail" required autofocus>

                                </div>

                                <div class="help-block" ng-messages="passwordRecoveryForm.email.$error" ng-if="passwordRecoveryForm.email.$touched || passwordRecoveryForm.$submitted">
                                    <p ng-message="required">Tu email es necesario.</p>
                                    <p ng-message="email">Debes colocar un email valido</p>
                                </div>

                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg btn-block">
                                    Enviar contraseña
                                </button>
                            </div>

                        </form>

                    </div>

                    <div class="panel-footer">
                        <p class="text-center "><a href="#!/Account/Login"> Volver al inicio de sesión </a></p>
                        <div style="clear:both"></div>
                    </div>

                </div>
                <div class="login-box-btm text-center">
                    <p>
                        ¿No tienes una cuenta aun? <br>
                        <a href="#!Account/Register"><strong>¡Quiero Registrarme!</strong> </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>