@{
    Layout = null;
}

<div class="main-container" ng-controller="registerController">
    <div class="container">
        <div class="row">
            <div class="col-md-8 page-content">
                <div class="inner-box category-content">
                    <h2 class="title-2"><i class="icon-user-add"></i> Crea tu cuenta, es gratis </h2>
                    <div class="row">
                        <div class="col-sm-12">
                            <form class="form-horizontal">
                                <fieldset>
                                    <div class="form-group required">
                                        <label class="col-md-4 control-label">Eres un <sup>*</sup></label>
                                        <div class="col-md-6">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="optionsRadios" id="job-finder" value="job finder" checked="">
                                                    Jugador
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="optionsRadios" id="job-seeker" value="job-seeker">
                                                    Intermediario
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="optionsRadios" id="job-seeker" value="job-seeker">
                                                    Club
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group required">
                                        <label class="col-md-4 control-label">Primer Nombre <sup>*</sup></label>
                                        <div class="col-md-6">
                                            <input name="" placeholder="Primer Nombre" class="form-control input-md" required="" type="text">
                                        </div>
                                    </div>

                                    <div class="form-group required">
                                        <label class="col-md-4 control-label">Apellido <sup>*</sup></label>
                                        <div class="col-md-6">
                                            <input name="textinput" placeholder="Apellido" class="form-control input-md" type="text">
                                        </div>
                                    </div>

                                    <hr />

                                    <div class="form-group required">
                                        <label for="inputEmail3" class="col-md-4 control-label">
                                            Email
                                            <sup>*</sup>
                                        </label>
                                        <div class="col-md-6">
                                            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label for="inputPassword3" class="col-md-4 control-label">Contraseña </label>
                                        <div class="col-md-6">
                                            <input type="password" class="form-control" id="inputPassword3" placeholder="Contraseña">
                                            <p class="help-block">
                                                Al menos 5 caracteres
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"></label>
                                        <div class="col-md-8">
                                            <div class="termbox mb10">
                                                <label class="checkbox-inline" for="checkboxes-1">
                                                    <input name="checkboxes" id="checkboxes-1" value="1" type="checkbox">
                                                    He leido y estoy deacuerdo con los <a href="#!">
                                                        Terminos
                                                        &amp; Condiciones
                                                    </a>
                                                </label>
                                            </div>
                                            <div style="clear:both"></div>
                                            <a class="btn btn-primary" href="job-account-home.html">Registrarme</a>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 reg-sidebar">
                <div class="reg-sidebar-inner text-center">
                    <div class="promo-text-box">
                        <i class="icon-briefcase fa fa-4x icon-color-1"></i>
                        <h3><strong>Registrate </strong></h3>
                        <p>
                            Solo llenando el formulario de la izquierda ya estaras registrado de manera gratuita y sin problemas.
                        </p>
                    </div>
                    <div class="promo-text-box">
                        <i class="icon-pencil-circled fa fa-4x icon-color-2"></i>
                        <h3><strong>Carga tu perfil y habilidades</strong></h3>
                        <p>
                            La aplicación te dara la oportunidad de mostrar tu habilidades y experiencia mediante un conjunto de examenes.
                        </p>
                    </div>
                    <div class="promo-text-box">
                        <i class="icon-heart-2 fa fa-4x icon-color-3"></i>
                        <h3><strong>Encuentra el club que buscas.</strong></h3>
                        <p>
                            Solo relajate y deja que cientos de clubes y entrenadores te encuentren.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
