
@{
    Layout = null;
}

<div class="main-container" ng-controller="passwordRecoveryUpdateController">

    <div class="container">

        <div class="row">

            <div class="col-sm-5 login-box">

                <div class="panel panel-default">

                    <div class="panel-intro text-center">
                        <img alt="img" class="img-logo-register" src="~/Content/img/Allwiners/logo_header.png" style="display: inline;">
                    </div>

                    <div class="panel-body">

                        <flash-message></flash-message>

                        <form role="form" novalidate="" name="passwordRecoveryForm" ng-submit="passwordRecoveryUpdate()" promise-btn>

                            <div class="form-group" ng-class="{ 'has-error': (passwordRecoveryForm.token.$touched && passwordRecoveryForm.token.$invalid) || (passwordRecoveryForm.$submitted && passwordRecoveryForm.token.$invalid)}">

                                <label for="sender-email" class="control-label">N° recuperación:</label>

                                <div class="input-group input-icon">

                                    <span class="input-group-addon bgtransparent"><i class="glyphicon-lock glyphicon"></i></span>

                                    <input id="sender-email" disabled type="text" placeholder="" class="form-control email" name="token" data-ng-model="recoveryData.Codigo" required autofocus>

                                </div>

                                <div class="help-block" ng-messages="passwordRecoveryForm.token.$error" ng-if="passwordRecoveryForm.token.$touched || passwordRecoveryForm.$submitted">
                                    <p ng-message="required">El N° de validación es necesario.</p>
                                </div>

                            </div>


                            <div class="form-group" ng-class="{ 'has-error': (passwordRecoveryForm.Mail.$touched && passwordRecoveryForm.Mail.$invalid) || (passwordRecoveryForm.$submitted && passwordRecoveryForm.Mail.$invalid)}">

                                <label for="sender-email" class="control-label">Email:</label>

                                <div class="input-group input-icon">

                                    <span class="input-group-addon bgtransparent"><i class="icon-user fa"></i></span>

                                    <input id="sender-email" type="email" placeholder="Escribe tu email de acceso" class="form-control email" name="Mail" data-ng-model="recoveryData.Mail" required autofocus>

                                </div>

                                <div class="help-block" ng-messages="passwordRecoveryForm.Mail.$error" ng-if="passwordRecoveryForm.Mail.$touched || passwordRecoveryForm.$submitted">
                                    <p ng-message="required">Tu email es necesario.</p>
                                    <p ng-message="email">Debes colocar un email valido</p>
                                </div>

                            </div>

                            <div class="form-group" ng-class="{ 'has-error': (passwordRecoveryForm.password.$touched && passwordRecoveryForm.password.$invalid) || (passwordRecoveryForm.$submitted && passwordRecoveryForm.password.$invalid)}">

                                <label for="sender-email" class="control-label">Contraseña:</label>

                                <div class="input-group input-icon">

                                    <span class="input-group-addon bgtransparent"><i class="glyphicon-lock glyphicon"></i></span>

                                    <input id="sender-email" type="password" placeholder="Escribe tu nueva contraseña" class="form-control email" name="password" data-ng-model="recoveryData.Password" required autofocus ng-minlength="6">

                                </div>

                                <div class="help-block" ng-messages="passwordRecoveryForm.password.$error" ng-if="passwordRecoveryForm.password.$touched || passwordRecoveryForm.$submitted">
                                    <p ng-message="required">Tu contraseña es necesaria.</p>
                                    <p ng-message="minlength">Tu contraseña es muy corta.</p>
                                </div>

                            </div>

                            <div class="form-group" ng-class="{ 'has-error': (passwordRecoveryForm.repeatPassword.$touched && passwordRecoveryForm.repeatPassword.$invalid) || (passwordRecoveryForm.$submitted && passwordRecoveryForm.repeatPassword.$invalid)}">

                                <label for="sender-email" class="control-label">Repetir contraseña:</label>

                                <div class="input-group input-icon">

                                    <span class="input-group-addon bgtransparent"><i class="glyphicon-lock glyphicon"></i></span>

                                    <input id="sender-email" type="password" placeholder="Repite tu nueva contraseña" class="form-control email" name="repeatPassword" data-ng-model="recoveryData.VerificacionPassword" required autofocus ng-minlength="6">

                                </div>

                                <div class="help-block" ng-messages="passwordRecoveryForm.repeatPassword.$error" ng-if="passwordRecoveryForm.repeatPassword.$touched || passwordRecoveryForm.$submitted">
                                    <p ng-message="required">Debes repetir la contraseña.</p>
                                    <p ng-message="minlength">Tu contraseña es muy corta.</p>
                                </div>

                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg btn-block">
                                    Actualizar contraseña
                                </button>
                            </div>

                        </form>

                    </div>

                    <div class="panel-footer">
                        <p class="text-center "><a href="#!/Account/Login"> Volver al inicio de sesión </a></p>
                        <div style="clear:both"></div>
                    </div>

                </div>
                <div class="login-box-btm text-center">
                    <p>
                        ¿No tienes una cuenta aun? <br>
                        <a href="#!Account/Register"><strong>¡Quiero Registrarme!</strong> </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>